/* ADD YOUR STYLES HERE */

/* section 6 */
.center {
	text-align: center;
}

.center img {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

.center p {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

.center ol {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
	text-align: left;
}


/* section 7 */
.vertical {
	text-align: center;
}

.vertical img {
	display: block;
	margin: auto;
	padding: 20px;
}

.vertical p {
	display: block;
	margin: auto;
	padding: 20px;
}

.vertical ol {
	display: inline-block;
	padding: 20px;

}

/* section 8 */

.inline li {
	display: inline;
	float: left;
}



/* section 9 */

.smallbutton {
	display: inline-block;
	background: rgba(250, 140, 140, 1);
	text-align: center;
	color: white;
	border-radius: 5px;
	vertical-align: middle;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.mediumbutton {
	display: inline-block;
	background: rgba(250, 140, 140, 1);
	text-align: center;
	color: white;
	border-radius: 5px;
	vertical-align: middle;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
}

.bigbutton {
	display: inline-block;
	background: rgba(250, 140, 140, 1);
	text-align: center;
	color: white;
	border-radius: 5px;
	vertical-align: middle;
	padding: 30px 50px 30px 50px;
	text-decoration: none;
}



/* section 10 */

.inline {
	display: inline;
}
a:hover {
	color: blue;
}

/*section 11*/
.pagination li {
	display: inline-block;
	padding: 10px;
}


/*section 12*/








